body {
	widows: 100%;
}

#controls {
	width: 80%;
	margin: auto;
}

button {
	padding: 10%;
	width: 40%;
	height: 10%;
	font-size: x-large;
}

input {
	margin-right: 5%;
	margin-left: 5%;
	width: 70%;
	height: 10%;
}

label {
	font-size: x-large;
}